
body{
    background-color: #000000;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
   background-attachment: fixed;
   background-size: cover;
}
p{
   font-size: 42px;
   font-weight: 700;
   -webkit-text-stroke: 0.8px white;
   color: #fff0;
   letter-spacing: 1px;
   transition: 0.3s;
}
.myp:hover{
    color: #fff;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: end;
}
nav{
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(0,0,0,0.4);
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    bottom: 100px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}
nav ul li::after{
    content: '';
    background: linear-gradient(#04563b,#08C792);
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50% );
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}
nav ul li:hover{
    color: #fff;
}
nav ul li:hover::after{
    top: 50%;
    opacity: 1;
}